---
import Layout from '../layouts/Layout.astro';
import NameCard from '../components/NameCard.astro';
import InfoCard from '../components/InfoCard.astro';
import '@fontsource-variable/inter';
---

<Layout title="Harpreet's Portfolio">
	
	<main class="flex flex-row px-48 font-inter max-w-[1440px] mx-auto text-slate-400">
		<NameCard />
		<InfoCard/>
	</main>
</Layout>

<style>

	
</style>
