<p class="text-sm font-extralight pt-16 pb-8">
  Coded in
  <!-- --->
  <span
    class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300"
  >
    <a href="https://code.visualstudio.com/">Visual Studio Code</a>
  </span>
. Built in
  <!-- --->
  <span
    class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300"
  >
    <a href="https://astro.build/">Astro.js</a>
  </span> and
  <!-- --->
  <span
    class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300"
  >
    <a href="https://tailwindcss.com/"> Tailwind CSS</a>
  </span>
   , deployed with
  <!-- --->
  <span
    class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300"
  >
    <a href="https://vercel.com/">Vercel.</a>
  </span>
</p>
