---
import AboutMe from "./AboutMe.astro";
import WorkExp from "./WorkExp.astro"
import Footer from "./Footer.astro";
---

<div class="flex flex-col w-1/2 pl-4">
    <AboutMe/>
    <WorkExp/>
    <Footer/>
</div>