---
import AboutMe from "./AboutMe.astro";
import WorkExp from "./WorkExp.astro"
import Footer from "./Footer.astro";
import Projects from "./Projects.astro";
---

<div class="flex flex-col w-1/2 ">
    <AboutMe/>
    <WorkExp/>
    <Projects/>
    <Footer/>
</div>