
<section
id="experince">
    <ul>
       <li class="flex flex-row">
        <div class="w-1/4 bg-green-300">Mar 2022 - Present</div>
        <div class="w-3/4 bg-red-300">Lead Developer</div>
       </li>
       <li class="flex flex-row">
        <div class="w-1/4 bg-green-300">Jun 2023 - Present</div>
        <div class="w-3/4 bg-red-300">Freelance Full stack Developer</div>
       </li>
    </ul>
</section>