<section id="experince text-sm font-light ">
  <ul>
    <li class="flex flex-row mb-8">
      <div class="w-1/4 uppercase text-xs pt-1">Jun 2023 - Present</div>
      <div class="w-3/4 space-y-2 pl-2">
        <span>Freelance Full stack Developer</span>
        <p class="text-sm">
          Developed a comprehensive in-house tool for a property management
          company. The tool adeptly tracks employees' work, site visits, and the
          detailed tasks accomplished on-site.
        </p>
        <ul class=" flex flex-wrap text-xs mt-2 ">
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1 ">React</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">Node.js</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">AWS-S3</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">AWS-ECS</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">MUI</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">React Native</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">MongoDb</li>

         

        </ul>
      </div>
    </li>

    <li class="flex flex-row mb-8">
      <div class="w-1/4 uppercase text-xs pt-1">Mar 2022 - Present</div>
      <div class="w-3/4 space-y-2 pl-2">
        <span class="">Lead Developer - Squared</span>
        <p class="text-sm">
          Spearheaded the design and development of the Squared Dashboard
          (project management tool). Also, played a key role in mentoring and
          onboarding junior developers, showcasing my commitment to fostering a
          collaborative and growth-oriented team environment.
        </p>
        <ul class=" flex flex-wrap text-xs mt-2 ">
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1 ">Next.js</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">Tailwind</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">Typescript</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">Node.js</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">MongoDb</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">DigitalOcean</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">AWS-S3</li>

        </ul>
      </div>
    </li>

    <li class="flex flex-row mb-8">
      <div class="w-1/4 uppercase text-xs pt-1">June 2020 - Feb 2022</div>
      <div class="w-3/4 space-y-2 pl-2">
        <span class="">Wordpress Developer - DevsnDesigns</span>
        <p class="text-sm">
          Create various wordpress websites for differnt clients at DevsnDesigns. 
        </p>

        <ul class=" flex flex-wrap text-xs mt-2 ">
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1 ">Wordpress</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">HTML</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">CSS</li>
          <li class="flex items-center rounded-full bg-teal-400/10 px-4 py-1 text-xs font-medium text-teal-300 mt-2 mr-1">php</li>

        </ul>

      </div>
    </li>
  </ul>
</section>
